/* styles.css for deeper-waters */

body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(white,rgb(240, 248, 255),steelblue,
    black,black);
    background-repeat: no-repeat;
    min-height: 100vh;
    /* background-attachment: fixed; */
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 1;
}
.navbar {
    border-radius: 0 0 25px 25px;
    height: 15vw;
    width: 97%;
    position: fixed;
    top: 0;  
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    gap: 5px; 
    z-index: 2;
    background-color: black;
}

.filler {
    height: 21vw;
}

#photo {
    width: 25vw;
    height: 15vw;
    background-image: url(/deeper-waters/sunsetChurch.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50px;    
}

button:hover {
    cursor: pointer;
    color:steelblue;
}
#button1, #button2, #button3 {
    width: 20vw;
    height: 15vw;
    border-radius: 50px;
    font-size: 3.5vw;
    text-align: center;
    color: aliceblue;
    font-style: italic;
    font-weight: 800;
    background-color: steelblue;  
}

#button4 {
    width: 30vw;
    height:35vw;
    background-image: url(/deeper-waters/jesus.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    margin-bottom: 2vw; 
}

.logo {
    padding-left: 20px;
    border-radius: 50px;
    width: 35vw;
    height:33vw;
    background-image: url(/deeper-waters/deeperWaters.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

#text1, #text2, #text3, #text4, #text5, #text6 {   
    text-align: center;
    font-size: 5vw;
    padding: 15px;
    background-color: aliceblue;
    opacity: 0.5;
    border-radius: 25px;
    margin-bottom: 5vw;
    
}

#text1, #text3, #text5 {
    max-width: 80vw;
}

#text2, #text4, #text6 {
    max-width: 70vw;
}

#title1, #title2, #title3 {
    font-size: 5vw;
    font-weight: 700;
    font-style: italic;
    color: steelblue;
    text-align: center;
    margin-bottom: 5vw;
}